body {
    background-color: black;
}

#game {
    background: whitesmoke;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 30%;
    left: 35%;
    border: 5px solid black;
    border-radius: 10%;
    align-items: center;
    padding: 70px 70px 90px 100px;
}

button {
    font-size: 30px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: lightskyblue;
    font-weight: bold;
}

button:hover {
    background-color: yellow;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 40px;
    color: blueviolet;
}

h4 {
    font-size: 20px;
}

.remaining-time {
    font-size: 20px;
    color: black;
}
.player-results {
    position: absolute;
    text-align: center;
    right: 50px;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border: 1px double black;
    border-radius: 10px;
    background-color: lightgray;

}
.thumbs-up-down {
    position: absolute;
    width: 40px;
    height: 40px;
}
.scoreline {
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.reset {
    margin-top: 15px;
    cursor: pointer;
    color: darkred;
    font-weight: bold;
}

.results {
    font-weight: bold;
    font-size: 30px;
    margin-left: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}
